/*.container {
  background-color: #99ccff;
  align-items: center;
}*/
#arabic {
  display: none;
  height: 150vh;
    background-image: url('../img/arabic/blue-arabic-med.gif');
}

#english {
  display: none;
  height: 150vh;
    background-image: url('../img/english/green-english-sm.gif');
}

#ASL {
  display: none;
  height: 150vh;
    background-image: url('../img/ASL/red-ASL-reg.gif');
}

.dumpInput {
  margin: 75px;
  padding: 20px;
  background-image: url('../img/transluscent-bg.png');
  border-top-right-radius: 0px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 60px;

}

/*#dumpInput2 {
  margin: 75px;
  padding: 20px;
  background-image: url('../img/transluscent-bg.png');
  border-top-right-radius: 0px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 60px;

}*/

img {
  height: 120%;
  width: 120%;
}

h1 {
  text-align: center;
  text-shadow: black;
  font-size: 100px;
  color: white;
  padding: 40px;
}

.col-letter{
    width:14.285%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

ul {
  font-size: 40px;
  color: #fff;
  list-style-type: none;
  text-align: center;
}

#landingTitle {
  padding-left: 10px;
  padding-right: 75px;
  padding-top: 22px;
  width: 400px;
  display: block;
  margin: auto;
}

#landingInput {
  color: white;
  background: -webkit-linear-gradient(#5276a8, #ba5e5e); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5276a8, #ba5e5e); /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(#5276a8, #ba5e5e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5276a8, #ba5e5e); /* Standard syntax*/
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 22px;
  padding-top: 22px;
  width: 400px;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 7px;
  border-top-right-radius: 0px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 60px;
}

button {
  border: 2px solid #003333 !important;
  color: white !important;
  background-color: #368771 !important;
  margin-top: 40px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 20px !important;
}
/* my fancy button */
.button-row {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 50px;
}
.button-row > div {
  position: relative;
  width: 160px;
  height: 50px;
  margin: 0 15px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.button-row > div > a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);
  transform: translateZ(-25px);
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  transition: transform 0.25s;
}
.button-row > div > a::before, .button-row > div > a::after {
  justify-content: center;
  align-items: center;
  margin: 10;
  width: 180px;
  height: 50px;
  position: absolute;
  border: 5px solid #113163;
  box-sizing: border-box;
  content: attr(title);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.button-row > div > a::before {
  background-color: #167cdd;
  color: #fff;
  -webkit-transform: rotateY(0deg) translateZ(25px);
  -moz-transform: rotateY(0deg) translateZ(25px);
  -ms-transform: rotateY(0deg) translateZ(25px);
  -o-transform: rotateY(0deg) translateZ(25px);
  transform: rotateY(0deg) translateZ(25px);
}
.button-row > div > a::after {
  background-color: #fff;
  border-color: #113163;
  color: #113163;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}
.button-row > div > a:hover {
  -webkit-transform: translateZ(-25px) rotateX(-90deg);
  -moz-transform: translateZ(-25px) rotateX(-90deg);
  -ms-transform: translateZ(-25px) rotateX(-90deg);
  -o-transform: translateZ(-25px) rotateX(-90deg);
  transform: translateZ(-25px) rotateX(-90deg);
}

.main, h1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

html, body, .main {
  height: 100%;
